APP_NAME="Demo Ecommerce Suite"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=demo_ecommerce_suite
DB_USERNAME=root
DB_PASSWORD=

ECOMMERCE_WEB_PREFIX=demo-shop
ECOMMERCE_API_PREFIX=shop-api
ECOMMERCE_API_VERSION=1
ECOMMERCE_DELIVERY_DRIVER=math
